
<div>app component update</div>
<nav><a  routerLink="/first-level-page-one" routerLinkActive="active-class1">1lvl 1pge</a>
    <a  routerLink="/first-level-page-two" routerLinkActive="active-class1 active-class2">1lvl 2pge</a>
    <a type="button" routerLink="/first-level-page-three" >1lvl 3pge</a>
    <a type="button" routerLink="/first-level-page-four" >1lvl 4pge</a>
    <a type="button" routerLink="/wrong" routerLinkActive="activebutton">Wrong</a>
    <a type="button" routerLink="/@kashul" routerLinkActive="activebutton">Matcher1</a>
    <a type="button" routerLink="/@test" routerLinkActive="activebutton">Matcher2</a>
    <a type="button" routerLink="" routerLinkActive="activebutton">Home</a>
</nav>

<router-outlet></router-outlet>
